@font-face {
	font-family: "neuebold";
	src: url('images/webfont.woff') format("woff");
	font-weight: 100;
	font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('images/Oswald-Regular.ttf');
}


body {
	font-size:100%;
	font-family: oswald;

	background-repeat:repeat-x;
	background-color:#fffbf2;
	color:#251b03;
	margin: 10pt;
	}

h1 {font-size:200%;}
h2 {font-size:140%;}
h3 {font-size:110%;}

.footer {font-size: small;}

table {font-size:100%;}

th {background-color:#e0e8eb;}

td {
	vertical-align:center;
	text-align:center;
	padding:5px;
	}

ul {list-style:circle;}

ol {list-style:decimal;}

.likebutton {
	display: inline-flex;
	align-items: center; 
  }

p {
	line-height: 1.8;   /* within paragraph */
	margin-bottom: 50px; /* between paragraphs */
	};
